<h1>
  Workouts
</h1>

<%= button_to "Add workout", new_workout_path(@workouts), :method => "get" %>

<table width="50%" >
    <tr>
      <th>Title</th>
      <th>Created At</th>
      <th>Description</th>
    </tr>

    <% @workouts.each do |workout| %>
  <tr>
    <td><%= workout.title %></td>
    <td><%= workout.created_at.strftime("%m/%d/%Y") %></td>
    <td><%= workout.description %></td>

  </tr>

  <% end %>
</table>
